<h1>My Activities</h1>

<% @user.activities.each do |a| %>
    <h3><%= a.name %></h3>
    <p><%= a.description %></p>
    <p><%= a.location %></p>
    <p><%=  a.user_activities.pluck(:created_at)[0].strftime("%m-%d-%Y") %></p>
    <p><%= link_to "Edit or delete activity", user_activity_path(@user.id, a.id)%></p>
    <br>
    <%end%>

<%= link_to "Add an activity", new_activity_path %><br>
<%= link_to "View All Activities", activities_path %>

<%= link_to "Home", user_path(@user) %><br>