<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<h1> Hello!</h1>

<p><%= link_to "Add an activity", new_activity_path %></p>

<p><%= link_to "View Your Activities", :controller => :users, :action => :activities%></p>

<p><%= link_to "View All Activities", activities_path %></p>

<%= link_to "Most Recent Activities", activities_top_ten_path %>
<br>
<br>
<%= form_tag('/activities/:location') do %>
    <label>View Activities by Location:</label><br>
    <%= select_tag ":location", raw("<option>Denver Metro</option><option>Pikes Peak</option><option>Boulder Valley</option><option>Colorado Springs</option><option>Long's Peak</option><option>Northeast Colorado</option><option>Morgan/Washington Bi-County</option><option>East Central Colorado</option>
    <option>Southeast Colorado</option><option>Arkansas Valley</option><option>Southern Colorado</option><option>San Luis Valley</option><option>San Juan Basin</option><option>Western Colorado</option><option>Other</option>") %>
    <input type="submit" value="Search">
    <%end%>
<br>
<%= link_to "Log Out", session_path, :method => :delete %>




