<% @activities.each do |a| %>
    <h3><%= a.name %><br></h3>
    <p><%= a.description %></p>
    <p><%= a.location %> <br></p>
    <% if a.users.include?(@user) %>
        <p><%= link_to "Edit or delete activity", edit_activity_path(a)%></p>
        <% end %>
    <p><%= a.votes.pluck(:likes).count %> likes </p>
    <%= button_to 'Like', activity_votes_path(a), method: :post %>
    <%end%>
<br><br>
<%= link_to "Add an activity", new_user_activity_path(@user) %><br>
<%= link_to "Home", user_path(@user) %>


