
<h1><%= @activity.name %></h1>
<p><%= @activity.description %></p>
<p><%= @activity.location %></p>
<p><%= @activity.votes.pluck(:likes).count %> likes </p>

<%= link_to "Back to My Activities", user_activities_path(@activity) %>
<%= link_to "Back to All Activities", activities_path %>
